body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #bbe6e1; */
  background-image : url(./assets/background.jpg);
  display: block
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 600px) {
	body {    
    /* background-color: red; */
    max-width: 600px
       
  }

  /* Barra de Pesquisa Material UI */

  .SearchAppBar-spam{
    display: none
  }

  /* desativa menu acima imagem pagina inicial componente <menu/> */
  .menu-ul{ 
    display: none !important;
  }
  /* Imagem página inicial */
  .menu-menu .menu-imagem{
    width: 100%;
  }

  /* FOOTER */
  .footer-footer{
  height: auto !important;
  margin-top: 10px
  }

  .footer-ul{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: 0;
    margin: 0 auto;
  }
  .footer-ul li{
    padding: 0 !important;
    margin:0 auto !important;
  }


  /* configura artigos abaixo imagem página inicial */
  .artigo-article{    
    flex-direction: column !important;    
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
  }
  .artigo-article-div-um,.artigo-article-div-dois, .artigo-article-div-tres{
    /* width: auto !important;   */
    padding: 0px !important;
    margin: 0 auto !important;
    width: 100% !important
  }

  /* Página para selecionar antigo ou novo testamento */
  .biblia-div-um{
    width: 100%;
  }

  .biblia-div-um div{
    margin: 0 auto;
    padding: 0;
  }
  .carrosel-div{
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  /* imagem gerada quando seleciona o testamento */
  .carrosel-div img{
    width: 100%;
    margin-bottom: 20px;
  }

  /* PAINEL LEITURA */
  .painelleitura-menu{
    display: none
  }

  .painelleiturabiblia-menu{
    width: 100%;
    padding: 0;
  }
  .painelleitura-article{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .painelleitura-article-div{
    padding: 3px;
  }

  .painelleitura-article-paginacao{
    width: 100%;
  }

  .aside-select{
    display: none;
  }
  .painel-leitura-main-div{
    width: 100% !important;

  }
  .painel-leitura-main-div-div{
  width: 96% !important;
  padding: 5px !important;
  }
  .painel-leitura-main-div-div-descricao{
    margin-left: 6px;
  }


  /* Curiosidades */
  .painelleitura-article-article{
    grid-template-columns:  1fr
  }
  
  .painelleitura-article-ul {
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    width: auto;
    justify-content:center;
    text-align: center;
  }
  .painelleitura-article-li{
    margin-bottom: 25px;
  }

  /* Página PESQUISAS */


  .article-pesquisa-menu-div{
    display: none
  }
  .article-pesquisa-div{
    width: 100% !important;
  }
  .article-pesquisa-div-div{
    width: 94% !important;
    margin-left: 5px !important
  }
  .notfound-article-article-div{
    width: 100% !important;
    height: 76vh;
  }
  .pesquisabibianotfound-article-div-menulateral{
    display: none
  } 



  /* HINOS HARPA */

  .hinoharpa-nav{
    width: 99.5% !important;
  }

  .hinoharp-article{
    flex-direction: column !important;
  }
  .hinoharpa-article-div-numero{
      width: 100%!important;      
  }

  .hinoharpa-article-div-titulo{
      width: 100% !important;      
  }
  .hinoharpaleitura-article{
      width: 93% !important;
      padding: 4px  !important;
      margin: 0 auto !important;
  }
  .hinoharpaleitura-div{
    margin-left: 2px !important;
  }
  .hinoharpa-busca-menu{
    grid-template-columns: 50% 50% !important;
    margin: 0 auto !important;
    padding: 0 !important;    
  }
  .hinoharpa-busca-menu div{
    margin: 0 auto !important;
    padding: 0 !important;  
    width: auto !important;    
  }
  
  /* SOBRE */

  .sobre-article{
    width: 100% !important;
    padding: 0 !important;
    padding: 0 !important;
    margin: 10px 0 0 0  !important
  }
  .sobre-article-div{
    padding: 3px !important;
    width: 94% !important;
    margin-left: 6px !important;
    padding: 10px !important;
  }
  .sobre-article-div-menu{
    display: none;
  }

  /* ERRO */
  .erro-article-div-div{
    display: none;
  }
  .erro-article-div{
    width: 100% !important;
  }

}