.article-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;   
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    
    gap: 15px;               
}

.article-article h3{
    color: rgb(82, 82, 82)
    
}

.article-article p{
    color: rgb(4, 4, 4)
}

.article-um, .article-dois, .article-tres{
    transition: all 700ms ease;
    border-radius: 25px;
    width: 500px;
    padding: 15px;
}

.article-um:hover{
background-color:#8bc34a;
border-radius: 15px
}
.article-dois:hover{
    background-color:#357f78;
    border-radius: 15px
    }
.article-tres:hover{
    background-color:#51e8d9;
    border-radius: 15px
    }

