.painel-leitura-main{
    display: flex;
    justify-content:flex-start;  
    width: 65%;
}

.painel-leitura-main-div{
  
}

.painel-leitura-main-div-div{
    
    /* background-color:rgb(218, 217, 217); */
    background-image : url(background.jpg);
    border-radius: 40px;
    padding: 25px;    
}
.painel-leitura-main-div-p{
    font-family: Garamond;
    font-size: 21px;
    font-style: italic;
}

.painel-leitura-main-div-setas{
    display: flex;
    width: 90%;
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 5%;
    justify-content: space-around;
}

.painel-leitura-main-div-setas-esquerda{
    display: flex;

}

/* .painel-leitura-main-div-setas-esquerda-conteudo{
    display: flex;
    align-items: center;
    font-family: Garamond;
    font-size: 30px;
    font-style: italic;
    font-weight:bold;

}

.painel-leitura-main-div-setas-direita-conteudo{
    display: flex;
    align-items: center;
    font-family: Garamond;
    font-size: 30px;
    font-style: italic;
    font-weight:bold;
    cursor: pointer;
}
*/

.painel-leitura-main-div-select select{
    font-family: 'Garamond', serif;
    font-style: italic;
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 4px;
    background-color: #e8e8e8;
    color: rgb(26, 25, 25);
    text-align: center;
    justify-content: center;
} 