.painelleiturabiblia-menu{
    display: inline-block;
    position: relative;
    

}
.painelleitura-article{

    margin:15px 0 15px 10px;
    background-color: rgb(237, 233, 233);
    width: 65%;
    border-radius: 25px;
    padding: 15px;
    display: inline-block;

}

.painelleitura-article-paragrafo{

    font-family: 'Lora', serif;
    font-size: 22px;
}

.painelleitura-article-paragrafo spam{
background-color: #d5d4d4;
padding: 6px;
border-radius: 15px;
}

.painelleitura-article-h3{

    font-family: 'Lora', serif;
    font-size: 30px

}

.painelleitura-article-ul {

    display:flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px;
    background-color:#3f9168;
    border-radius: 15px;
    margin: 0 auto;
 
}
.painelleitura-article-li {
    font-family: 'Lora', serif;
    font-size: 27px;
    cursor: pointer;
    color: White;  
        
}
a{
    text-decoration: none;
}

.painelleitura-article-select{

    font-family: 'Lora', serif;
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 4px;
    background-color: #91bba6;
    color: white;
    text-align: center;
    justify-content: center;
}

.painelleitura-article-article{
    display: grid;
    grid-template-columns:  0.2fr 0.2fr 0.2fr;
    grid-gap: 20px;
    margin-left: 12px;
    
      
}
/* style={{ backgroundColor: "#3f9168", borderRadius: "20px", marginTop: "10px", padding: "15px" }} */
.painelleitura-article-article div {    
    border-radius: 20px;;
    border-radius: 40px;
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 10px;
    font-family: 'Lora', serif;
    transition: all 1s;
    cursor: pointer
}

.painelleitura-article-article div:hover{
    /* background-color: #19a582;
    transform: scale(1.1); */
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    transform: scale(1.1);
    opacity: 0.6;
}

.painelleitura-article-article-div-p-um{
font-size: 25px;
}



