.pesquisabibia-article-div-palavra{
    display: inline-block;
    width: 50%;
    margin-left: 25px;
    margin-top: 15px;
    /* background-color: #1cb38d ; */
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Lora', serif;
}

.pesquisabibia-article{
    display: inline-block;
    width: 65%;
    margin: 0 auto
}



.pesquisabibia-article-div-um{
   margin:15px 0 15px 10px;
   background-color: rgb(237, 233, 233);
   width: 100%;
   border-radius: 25px;
   /* padding: 15px;  */
   display: grid;
   grid-template-columns: 32% 32% 32%;
   grid-gap: 10px;
   
}

.pesquisabibia-article-div-dois{

  
background-color: #14a37f;
border-radius: 20px;
padding: 10px;
font-family: 'Lora', serif;
font-size: 18px;
text-decoration: none;
transition: all 0.5s;
margin: 15px 0 15px 15px;
}

.pesquisabibia-article-div-dois:hover{
    opacity: 0.6;
}

.pesquisabibia-article-div-erro{

    margin:15px 0 15px 10px;
    background-color: rgb(237, 233, 233);
    width: 65%;
    border-radius: 25px;
    padding: 15px;
    display: inline-block;
    
}

.pesquisabibia-article-div-paginas-li-ul{
    width: 64.5%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px;
    background-color:#3f9168;
    border-radius: 15px;
   margin-left: 15px;
}

.pesquisabibia-article-div-paginas-li-ul li{
    font-family: 'Lora', serif;
    font-size: 27px;
    cursor: pointer;
    color: White;  
    padding: 5px; 
    border-radius: 15px;
    transition: all 0.5s;
}
.pesquisabibia-article-div-paginas-li-ul li:hover{
    background-color: rgb(147, 204, 177);
    border-radius: 15px;
    
    transform: scale(1.1); 

}

.pesquisabibia-article-div-paginas-li-left{
    margin-left: 30px;
}
.pesquisabibia-article-div-paginas-li-right{
margin-right: 30px;
}
.pesquisabibia-article-div-paginas-li-left span i{
margin-right: 7px;
}
.pesquisabibia-article-div-paginas-li-right span i{
    margin-left: 7px;
    }