.carrosel-div{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 290px;
    margin: 0 auto;
    /* position: relative; */
    margin-bottom: 30px;
    margin-top: 30px;
}

.imagem-carrosel{
    border-radius: 35px;
    transition: all .5s;
    border: 2px solid transparent;
    opacity: 0.8;
    height: 100%;
}


.imagem-carrosel:hover {
    opacity: 1.0;
}

.imagem-carrosel-daniel{
    border-radius: 2000px;
    height: 500px;
}


.imagem-zero{
    animation-duration: 1.8s;
    animation-name: slidezero;
}

.imagem-um{
    animation-duration: 1.8s;
    animation-name: slideum;
}

.imagem-dois{
    border-radius: 200px;
    height: 100%;
}

@keyframes slidezero {
    from {
      /* margin-left: 90%;
      width: 90% */
      opacity: 0;
    }  
    to {
      /* margin-left: 5%;
      width: 90%; */
      opacity: 1;
    }
}

@keyframes slideum {
    from {
        opacity: 0;
      }  
      to {
        opacity: 1;
      }
}