.carrosel-div{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 30%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

.imagem-carrosel{
    border-radius: 35px;
    transition: all .5s;
    border: 2px solid transparent;
    opacity: 0.8;
}


.imagem-carrosel:hover {
    opacity: 1.0;
}
