.erro-article{
    display: flex;
}

.erro-article-div {
    text-align: center;
    width: 65%;  
    margin-top: 12%;
}

.erro-article-div spam{
    color:#14a37f
}

.erro-article-div-div{
    border: 2px solid  rgb(95, 95, 95);
    border-radius: 10px;
}