.hinoharpa-nav{
    width: 100%;
    display: inline-block;
}

.hinoharp-article{
    display: flex;
    flex-direction: row;
    font-family: 'Lora', serif;
    font-size: 22px;    
}

.hinoharpa-article-div-numero{ 
    margin-top: 25px; 
    width: 48%;
    display: flex;    
    justify-content: center;
    text-align: center;
    vertical-align: center;
}
.hinoharpa-article-div-label-numero{
    padding: 0;
    margin: 10px 10px 0px 25px ;
    font-family: 'Lora', serif;
    font-size: 18px;      
}

.hinoharpa-article-div-label-titulo{
    display: block;
    padding: 0;
    margin: 8px 10px 0 10px ;
    font-family: 'Lora', serif;
    font-size: 18px;   
    justify-content: center;
    text-align: center; 
}

.hinoharpa-article-div-titulo{
    width: 48;
    margin-top: 25px;
    display: flex;    
    justify-content: center;
    text-align: center;
    vertical-align: center;  
    
}

.hinoharpaleitura-article{
    margin:0px 0 15px 10px;
    background-image : url(../painelLeitura/background.jpg);
    width: 65%;
    border-radius: 25px;
    padding: 15px;
    display: inline-block;
    font-family: 'Lora', serif;
    font-size: 22px;
    border: 2px solid  rgb(95, 95, 95);
    border-radius: 10px;
}

.hinoharpa-article-div-form{
    display: block
}

.hinoharpa-article-div-select{
    font-family: 'Lora', serif;
    font-size: 24px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 4px;
    background-color: #14a37f;
    color: white; 
}

.hinoharpa-busca-menu{
    width: 100%;
    display: grid; 
    grid-template-columns: 36% 36% 36%; 
}

.hinoharpa-busca-menu div{
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;   
    opacity: 0.9;
    justify-content: center;
    text-align: center;
    transition: all 1s;
    cursor: pointer  
}

.hinoharpa-busca-menu div:hover{
    opacity: 0.6;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    transform: scale(1.1);
}

.hinoharpa-busca-menu .icone{
margin-right: 5px;
}

.hinoharpa-busca-menu-erro{
    display: flex;
    justify-content: center;
    text-align: center;
}

.hinoharpa-busca-menu-erro p{
    margin-left: 10px;
}

.menu-lateral{
    display: inline-block;
    width: 40%;
}

