.painelleitura-menu{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    background-color: #19a582;
    border-radius: 20px;
    margin-left: 15px;  
    padding: 0;
}

.menu-painelleitura-ul{
list-style: none;
padding: 0;
}

.menu-painelleitura-li{

margin: 0 auto;      
padding: 15px;
border-radius: 15px;
color: white; 
transition: all 500ms ease;
font-family: 'Lora', serif;
font-size: 22px;
text-decoration: none;
cursor: pointer;

}
.icone{
margin-right: 15px;
transition: all 0.5s;
}

.icone:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    }