.painelleitura-menu{
    width: 100%; 
    padding: 0;
    min-height: 70%;

}

.painelleitura_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.menu_lateral{
    display:  flex;
    flex-direction:  row;
    height: 25%;  
    margin-bottom:5%;


    transition: all 0.5s;
}

.menu_lateral:hover{
    background-color: #fffaf2;
    border-radius: 30px;
    
}

.div-menu-image{
    height: 100%;
    width: 20%;
    align-self: center;
}
.image:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.image{
    height: 75%;
    width: 75%;
    transition: all 0.5s;
}
.div-menu-palavra{
width: 80%;
height: 90%;
}
.div-menu-palavra p {
    color: black;
    font-family: 'Lora', serif;
    font-size: 22px;
    text-decoration: none;
    text-align: left;
    margin-left: 7%;
}